
:root {
    /* Primary color*/
    --color-primary-950: #4DB100;
    --color-primary-900: #55B40C;
    --color-primary-800: #67BC26;
    --color-primary-700: #79C43F;
    --color-primary-600: #8BCC59;
    --color-primary-500: #9DD472;
    --color-primary-400: #AEDB8C;
    --color-primary-300: #C0E3A5;
    --color-primary-200: #D2EBBF;
    --color-primary-100: #EAF3D8;
    --color-primary-50: #F6FBF2;

    /* Secondary Color */
    --color-secondary-950: #3D2102;
    --color-secondary-900: #633204;
    --color-secondary-800: #7E3E06;
    --color-secondary-700: #9F580A;
    --color-secondary-600: #C27803;
    --color-secondary-500: #E3A008;
    --color-secondary-400: #F4BF4A;
    --color-secondary-300: #FFD66B;
    --color-secondary-200: #FCE588;
    --color-secondary-100: #FFF3C4;
    --color-secondary-50: #FFFBEA;

    /* Tertiary Color */
    --color-terciary-950: #450A0A;
    --color-terciary-900: #7F1D1D;
    --color-terciary-800: #991B1B;
    --color-terciary-700: #B91C1C;
    --color-terciary-600: #DC2626;
    --color-terciary-500: #EF4444;
    --color-terciary-400: #F87171;
    --color-terciary-300: #FCA5A5;
    --color-terciary-200: #FECACA;
    --color-terciary-100: #FEE2E2;
    --color-terciary-50: #FEF2F2;

    /* Basic Color */
    --color-white: #fff;
    --color-black: #000;
    --color-gray-950: #101010;
    --color-gray-900: #262626;
    --color-gray-800: #3b3b3b;
    --color-gray-700: #515151;
    --color-gray-600: #676767;
    --color-gray-500: #7d7d7d;
    --color-gray-400: #929292;
    --color-gray-300: #a8a8a8;
    --color-gray-200: #bebebe;
    --color-gray-100: #d4d4d4;
    --color-gray-50: #e9e9e9;

    /* Typography */
    --main-font: Helvetica, Arial, sans-serif;
    --secondary-font: Calibri, Helvetica, Arial;

    /* Font weights crudos */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;



    /* Font Size */
    --fs-xxxxl: 5rem; /* Ultra grande */
    --fs-xxxl: 4rem; /* Super grande */
    --fs-xxl: 3rem; /* Extra grande */
    --fs-xl: 2.5rem; /* Muy Grande */
    --fs-lg: 2rem; /* Grande */
    --fs-md: 1.5rem; /* Mediano */
    --fs-sm: 1.25rem; /* Pequeño */
    --fs-xs: 1rem; /* Base */
    --fs-xxs: 0.875rem; /* Muy pequeño 14px */
    --fs-xxxs: 0.75rem; /* Extra extra pequeño 12px */
    --fs-xxxxs: 0.5rem; /* Minimo 8px */

}

